{% extends 'base.html' %}
{% block page_content %}

    <section style="padding-bottom: 300px; padding-top: 28px">

        <!-- Change Password Form -->
        <form action="{% url 'change password' %}" method="post">
            <fieldset>
                <legend><h3>Change Your Password</h3></legend>
                {% csrf_token %}
                {% for field in form %}
                    <label>
                        <div>
                            {{ field.label_tag }} <br>
                            {{ field }}
                        </div>
                    </label>
                        {% endfor %}
                <input type="submit" value="Change password">
            </fieldset>
        </form>

    </section>

{% endblock %}