{% extends 'base.html' %}
{% block page_content %}

    <!-- Add Book Page -->
    <section style="padding-bottom: 85px; padding-top: 21px">
        <form action="{% url 'author edit' author.pk %}" method="post">
            <fieldset>
                <legend><h3>Edit Author</h3></legend>
                {% csrf_token %}
                {% for field in form %}
                    <label>
                        <div>
                            {{ field.label_tag }} <br>
                            {{ field }}
                        </div>
                    </label>
                        {% endfor %}
                <input class="button submit" type="submit" value="Edit">
            </fieldset>
        </form>
    </section>

{% endblock %}
